body
{
	margin: auto;
	background-color: black;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	
}
.rectanglemain
{
width: 1322px;
height: 3776px;
margin-left: auto;
margin-right: auto;
background-color: #C4C4C4;
}
.boxmain1
{
float: left;
width: 1322px;
height: 825px;
left: 0px;
top: 0px;
background-image: url(img/demony.jpg)
}
.boxmain2
{
float: left;
width: 100%;
height: 825px;
left: 0px;
top: 0px;
background-image: url(img/kosciuszko.jpg)
}
.boxmain3
{
float: left;
width: 100%;
height: 825px;
left: 0px;
top: 0px;
background-image: url(img/kokolobolo.jpg)
}
.boxmain4
{
float: left;
width: 100%;
height: 825px;
left: 0px;
top: 0px;
background-image: url(img/tenor.jpg)
}
.boxmain5
{
float: left;
width: 100%;
height: 825px;
left: 0px;
top: 0px;
background-image: url(img/demony.jpg)
}
.boxmargin
{
float: left;
width: 100%;
height: 159px;
left: 0px;
top: 825px;
background-color: black;
}
.button 
{
	float: left;
width: 290px;
height: 79px;
margin-left: 980px;
background: #B41313; 
text-align: center;
line-height: 79px;
color: #fff;
font-size: 30px;
font-weight: bold;
text-decoration: none;
opacity: 80%;

}
.button:hover
{
	background-color: #196499;
}
.rectangledown
{
	float: left;
	width: 100%;
	height: 40px;
	margin-top: 700px;
}








.rectanglemargines
{
	float: left;
	width: 100%;
	height: 120px;
	background-color: #2F3336;
}
.naglowekprawy
{
	color: #ddd;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 20px;
	margin-right: 100px;
	margin-bottom: 10px;

	
}
.nagloweklewy
{
	color: #ddd;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 20px;
	margin-left: 100px;
	margin-bottom: 10px;

	
}
h1.logo
{
	font-size: 44px;
	font-weight: 700;
	color: #ddd;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 10px;
}
nav
{
	background-color: none;
	text-align: center
}
.menu
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 25px;
	min-height: 38px;
	line-height: 200%;
}
.menu > li
{
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px dashed #0a2b42;

}
.menu > li:first-child
{
	border-left: 1px dashed #0a2b42;
}
.menu a
{
	color: #fff;
	text-decoration: none
}
.menu a:hover
{
	color: #0a2b42;
}
.categories
{
margin-left: auto;
margin-right: auto;
width: 950px;
text-align: center;
padding: 0px;
}
h1
{
	font-size: 44px;
	font-weight: 400;
	font-style: bold; 
	color: #fff;
}
.author
{
	display: inline-block;
	margin-top: 10px;
}
.author a
{
	opacity: 0.9;
}
.author a:hover
{
	opacity: 1;
}
figure
{
	margin: 8px;
	padding: 0px;
}
figcaption
{
	margin-top: 8px;
	padding: 0px;
}
.entries
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 40px;
}
#newest
{
	background-color: #191d21;
}
.entry
{
	background-color: #222930;
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;
}
.entryimg
{
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 30px;
	width: 110px;

}
.entryimg img
{
	width: 90px;
	height: 90px;
	 
}
.entrytext
{
	display: inline-block;
	width: 750px;
	font-size: 15px;


}
h2{
	font-size: 20px;
	font-weight: 400;
	color: #39a5f1;
}
.kontakt
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: center;
	padding-bottom: 70px;
	margin-bottom: 50px;
}
.kontakt p
{
	margin-bottom: 50px;
}
.bluebutton
{
	background-color: #1c74b2;
	padding: 15px;
	color: #efefef;
	font-size: 19px;
	text-decoration: none;
	border-radius: 5px;
	min-width: 300px;
}
.bluebutton:hover
{
	background-color: #196499; 
}
.fak.logo
{
	width: 40px;
	height: 40px;
}
.faklogoimg
{
	height: 200px; 
	width: 200px;
	margin-left: 600px;
	margin-top: 50px;
	
}
.logobody
{
	margin: 0px;
	background-color: white;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	margin-top: 0px;
	height: 300px;
}
.rectanglelogo
{
height: 90px;
margin: 0px;
background-color: white;
padding: 30px;
text-align: right;
}
#logobody
{
	float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    color: black;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;

}
#napisbody
{
	float: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    color: black;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;

}
#logospace
{
	width: 700px;
	height: 90px;
	background-color: #191d21
}
